<!DOCTYPE html>
<html>

<head>
  <title></title>    
  <meta charset="utf-8" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <canvas id="myChart"></canvas>
  Average: <span id="average"></span><br>
  Dispersion: <span id="dispersion"></span>
</body>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['0.0 - 0.1', '0.1 - 0.2', '0.2 - 0.3', '0.3 - 0.4', '0.4 - 0.5', '0.5 - 0.6', '0.6 - 0.7', '0.7 - 0.8', '0.8 - 0.9', '0.9 - 1.0'],
      datasets: [{
        data: []
      }, {
        type: 'line',
        data: []
      }],
    },
    options: {
      scales: {
        yAxes: [{ ticks: { beginAtZero: true } }],
      },
    },
  });
</script>

<script>
  const groupArray = (array) => {
    const groups = new Array(10).fill(0);
    for (const el of array) groups[Math.floor(el * 10)]++;
    return groups;
  }

  const setAverage = (array) => {
    const sum = array.reduce((acc, cur) => acc + cur);
    $('#average').html(sum / array.length);
  }

  const setDispersion = (array) => {
    let dispersion = 0;
    for (const el of array) dispersion += (el - 0.5) ** 2;
    $('#dispersion').html(dispersion);
  }

  const buildLine1 = (l) => {
    const data = [];
    for (let i = 0.05; i < 1; i += 0.1) data.push(1 - Math.E ** (-l * i));
    chart.data.datasets[1].data = data;
    chart.update();
  }

  const buildLine2 = (a, b) => {
    const data = [];
    for (let i = 0.05; i < 1; i += 0.1) data.push((1 / (b * Math.sqrt(2 * Math.PI))) * Math.exp(-((i - a) ** 2) / (2 * b ** 2)));
    chart.data.datasets[1].data = data;
    chart.update();
  }

  const getNumbers = () => {
    const method = 'method_b';
    const params = { count: 10000, a: 2, b: 0.5 };
    $.get(`/laba1/${method}`, params, (data) => {
      const { array } = data;
      const groups = groupArray(array);
      chart.data.datasets[0].data = groups;
      chart.update();

      setAverage(array);
      setDispersion(array);

      // buildLine1(params.l);
      // buildLine2(params.a, params.b);
    });
  }

  getNumbers();
</script>

<html>